<div class="contenedor" style="margin-top: 100px;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark white scrolling-navbar row">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="col-md-6">Factores de Riesgo Forma A</h1>

        <h3 class="col-md-1 sNav">Siempre</h3>
        <h3 class="col-md-1 csNav">Casi Siempre</h3>
        <h3 class="col-md-1 avNav">Algunas Veces</h3>
        <h3 class="col-md-1 cnNav">Casi Nunca</h3>
        <h3 class="col-md-1 nNav">Nunca</h3>
        <h3 class="col-md-1 iNav">Inválido</h3>
    </nav>


    <table class="table table-bordered table-striped scrolling-navbar col-md-12">
        <thead class="cabeceraTabla">
            <tr>
                <th scope="col" class="textoInicial">Las siguientes preguntas están relacionadas con condiciones de la
                    zona donde usted vive:
                </th>
                <th scope="col">Siempre</th>
                <th scope="col">Casi Siempre</th>
                <th scope="col">Algunas Veces</th>
                <th scope="col">Casi Nunca</th>
                <th scope="col">Nunca</th>
                <th scope="col">Inválido</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row" class="pregForm1">1. El ruido en el lugar de trabajo es molesto </th>
                <td><input class="form-check-input" type="radio" name="preg1" id="siempre1" /></td>
                <td><input class="form-check-input" type="radio" name="preg1" id="casiSiempre1" /></td>
                <td><input class="form-check-input" type="radio" name="preg1" id="algunasVeces1" /></td>
                <td><input class="form-check-input" type="radio" name="preg1" id="casiNunca1" /></td>
                <td><input class="form-check-input" type="radio" name="preg1" id="nunca1" /></td>
                <td><input class="form-check-input" type="radio" name="preg1" id="invalido1" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">2. En el lugar donde trabajo hace mucho frio</th>
                <td><input class="form-check-input" type="radio" name="preg2" id="siempre2" /></td>
                <td><input class="form-check-input" type="radio" name="preg2" id="casiSiempre2" /></td>
                <td><input class="form-check-input" type="radio" name="preg2" id="algunasVeces2" /></td>
                <td><input class="form-check-input" type="radio" name="preg2" id="casiNunca2" /></td>
                <td><input class="form-check-input" type="radio" name="preg2" id="nunca2" /></td>
                <td><input class="form-check-input" type="radio" name="preg2" id="invalido2" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">3. En el lugar donde trabajo hace mucho calor </th>
                <td><input class="form-check-input" type="radio" name="preg3" id="siempre3" /></td>
                <td><input class="form-check-input" type="radio" name="preg3" id="casiSiempre3" /></td>
                <td><input class="form-check-input" type="radio" name="preg3" id="algunasVeces3" /></td>
                <td><input class="form-check-input" type="radio" name="preg3" id="casiNunca3" /></td>
                <td><input class="form-check-input" type="radio" name="preg3" id="nunca3" /></td>
                <td><input class="form-check-input" type="radio" name="preg3" id="invalido3" /></td>
            </tr>

            <tr>
                <th scope="row" class="pregForm1">4. El aire en el lugar donde trabajo es fresco y agradable </th>
                <td><input class="form-check-input" type="radio" name="preg4" id="siempre4" /></td>
                <td><input class="form-check-input" type="radio" name="preg4" id="casiSiempre4" /></td>
                <td><input class="form-check-input" type="radio" name="preg4" id="algunasVeces4" /></td>
                <td><input class="form-check-input" type="radio" name="preg4" id="casiNunca4" /></td>
                <td><input class="form-check-input" type="radio" name="preg4" id="nunca4" /></td>
                <td><input class="form-check-input" type="radio" name="preg4" id="invalido4" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">5. La luz en el sitio donde trabajo es agradable </th>
                <td><input class="form-check-input" type="radio" name="preg5" id="siempre5" /></td>
                <td><input class="form-check-input" type="radio" name="preg5" id="casiSiempre5" /></td>
                <td><input class="form-check-input" type="radio" name="preg5" id="algunasVeces5" /></td>
                <td><input class="form-check-input" type="radio" name="preg5" id="casiNunca5" /></td>
                <td><input class="form-check-input" type="radio" name="preg5" id="nunca5" /></td>
                <td><input class="form-check-input" type="radio" name="preg5" id="invalido5" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">6. El espacio donde trabajo es cómodo</th>
                <td><input class="form-check-input" type="radio" name="preg6" id="siempre6" /></td>
                <td><input class="form-check-input" type="radio" name="preg6" id="casiSiempre6" /></td>
                <td><input class="form-check-input" type="radio" name="preg6" id="algunasVeces6" /></td>
                <td><input class="form-check-input" type="radio" name="preg6" id="casiNunca6" /></td>
                <td><input class="form-check-input" type="radio" name="preg6" id="nunca6" /></td>
                <td><input class="form-check-input" type="radio" name="preg6" id="invalido6" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">7. En mi trabajo me preocupa estar expuesto a sustancias químicas que
                    afectan mi salud </th>
                <td><input class="form-check-input" type="radio" name="preg7" id="siempre7" /></td>
                <td><input class="form-check-input" type="radio" name="preg7" id="casiSiempre7" /></td>
                <td><input class="form-check-input" type="radio" name="preg7" id="algunasVeces7" /></td>
                <td><input class="form-check-input" type="radio" name="preg7" id="casiNunca7" /></td>
                <td><input class="form-check-input" type="radio" name="preg7" id="nunca7" /></td>
                <td><input class="form-check-input" type="radio" name="preg7" id="invalido7" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">8. Mi trabajo me exige hacer mucho esfuerzo físico </th>
                <td><input class="form-check-input" type="radio" name="preg8" id="siempre8" /></td>
                <td><input class="form-check-input" type="radio" name="preg8" id="casiSiempre8" /></td>
                <td><input class="form-check-input" type="radio" name="preg8" id="algunasVeces8" /></td>
                <td><input class="form-check-input" type="radio" name="preg8" id="casiNunca8" /></td>
                <td><input class="form-check-input" type="radio" name="preg8" id="nunca8" /></td>
                <td><input class="form-check-input" type="radio" name="preg8" id="invalido8" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">9. Los equipos o herramientas con los que trabajo son cómodos </th>
                <td><input class="form-check-input" type="radio" name="preg9" id="siempre9" /></td>
                <td><input class="form-check-input" type="radio" name="preg9" id="casiSiempre9" /></td>
                <td><input class="form-check-input" type="radio" name="preg9" id="algunasVeces9" /></td>
                <td><input class="form-check-input" type="radio" name="preg9" id="casiNunca9" /></td>
                <td><input class="form-check-input" type="radio" name="preg9" id="nunca9" /></td>
                <td><input class="form-check-input" type="radio" name="preg9" id="invalido9" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">10. En mi trabajo me preocupa estar expuesto amicrobios, animlaes, o
                    plantas que afecten mi salud </th>
                <td><input class="form-check-input" type="radio" name="preg10" id="siempre10" /></td>
                <td><input class="form-check-input" type="radio" name="preg10" id="casiSiempre10" /></td>
                <td><input class="form-check-input" type="radio" name="preg10" id="algunasVeces10" /></td>
                <td><input class="form-check-input" type="radio" name="preg10" id="casiNunca10" /></td>
                <td><input class="form-check-input" type="radio" name="preg10" id="nunca10" /></td>
                <td><input class="form-check-input" type="radio" name="preg10" id="invalido10" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">11. Me preocupa accidentarme en mi trabajo </th>
                <td><input class="form-check-input" type="radio" name="preg11" id="siempre11" /></td>
                <td><input class="form-check-input" type="radio" name="preg11" id="casiSiempre11" /></td>
                <td><input class="form-check-input" type="radio" name="preg11" id="algunasVeces11" /></td>
                <td><input class="form-check-input" type="radio" name="preg11" id="casiNunca11" /></td>
                <td><input class="form-check-input" type="radio" name="preg11" id="nunca11" /></td>
                <td><input class="form-check-input" type="radio" name="preg11" id="invalido11" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">12. El lugar donde trabajo es limpio y ordenado </th>
                <td><input class="form-check-input" type="radio" name="preg12" id="siempre12" /></td>
                <td><input class="form-check-input" type="radio" name="preg12" id="casiSiempre12" /></td>
                <td><input class="form-check-input" type="radio" name="preg12" id="algunasVeces12" /></td>
                <td><input class="form-check-input" type="radio" name="preg12" id="casiNunca12" /></td>
                <td><input class="form-check-input" type="radio" name="preg12" id="nunca12" /></td>
                <td><input class="form-check-input" type="radio" name="preg12" id="invalido12" /></td>
            </tr>

            <tr class="enunciado2">
                <th scope="row" class="pregForm1">Para responder a las siguientes preguntas piense en la cantidad de trabajo que usted tiene a cargo</th>
                <td scope="col">Siempre</td>
                <td scope="col">Casi Siempre</td>
                <td scope="col">Algunas Veces</td>
                <td scope="col">Casi Nunca</td>
                <td scope="col">Nunca</td>
                <td scope="col">Inválido</td>
            </tr>


            <tr>
                <th scope="row" class="pregForm1">13. Las condiciones de mi vivienda me permiten sentirme cómodo </th>
                <td><input class="form-check-input" type="radio" name="preg13" id="siempre13" /></td>
                <td><input class="form-check-input" type="radio" name="preg13" id="casiSiempre13" /></td>
                <td><input class="form-check-input" type="radio" name="preg13" id="algunasVeces13" /></td>
                <td><input class="form-check-input" type="radio" name="preg13" id="casiNunca13" /></td>
                <td><input class="form-check-input" type="radio" name="preg13" id="nunca13" /></td>
                <td><input class="form-check-input" type="radio" name="preg13" id="invalido13" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">14. Me queda tiempo para actividades de recreación </th>
                <td><input class="form-check-input" type="radio" name="preg14" id="siempre14" /></td>
                <td><input class="form-check-input" type="radio" name="preg14" id="casiSiempre14" /></td>
                <td><input class="form-check-input" type="radio" name="preg14" id="algunasVeces14" /></td>
                <td><input class="form-check-input" type="radio" name="preg14" id="casiNunca14" /></td>
                <td><input class="form-check-input" type="radio" name="preg14" id="nunca14" /></td>
                <td><input class="form-check-input" type="radio" name="preg14" id="invalido14" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">15. Fuera del trabajo tengo tiempo suficiente para descansar </th>
                <td><input class="form-check-input" type="radio" name="preg15" id="siempre15" /></td>
                <td><input class="form-check-input" type="radio" name="preg15" id="casiSiempre15" /></td>
                <td><input class="form-check-input" type="radio" name="preg15" id="algunasVeces15" /></td>
                <td><input class="form-check-input" type="radio" name="preg15" id="casiNunca15" /></td>
                <td><input class="form-check-input" type="radio" name="preg15" id="nunca15" /></td>
                <td><input class="form-check-input" type="radio" name="preg15" id="invalido15" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">16. Tengo tiempo para atender mis asuntos personales y del hogar </th>
                <td><input class="form-check-input" type="radio" name="preg16" id="siempre16" /></td>
                <td><input class="form-check-input" type="radio" name="preg16" id="casiSiempre16" /></td>
                <td><input class="form-check-input" type="radio" name="preg16" id="algunasVeces16" /></td>
                <td><input class="form-check-input" type="radio" name="preg16" id="casiNunca16" /></td>
                <td><input class="form-check-input" type="radio" name="preg16" id="nunca16" /></td>
                <td><input class="form-check-input" type="radio" name="preg16" id="invalido16" /></td>
            </tr>

            <tr>
                <th scope="row" class="pregForm1">17. Tengo tiempo para compartir con mi familia o amigos </th>
                <td><input class="form-check-input" type="radio" name="preg17" id="siempre17" /></td>
                <td><input class="form-check-input" type="radio" name="preg17" id="casiSiempre17" /></td>
                <td><input class="form-check-input" type="radio" name="preg17" id="algunasVeces17" /></td>
                <td><input class="form-check-input" type="radio" name="preg17" id="casiNunca17" /></td>
                <td><input class="form-check-input" type="radio" name="preg17" id="nunca17" /></td>
                <td><input class="form-check-input" type="radio" name="preg17" id="invalido17" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">18. Tengo buena comunicación con las personas cercanas </th>
                <td><input class="form-check-input" type="radio" name="preg18" id="siempr185" /></td>
                <td><input class="form-check-input" type="radio" name="preg18" id="casiSiempre18" /></td>
                <td><input class="form-check-input" type="radio" name="preg18" id="algunasVeces18" /></td>
                <td><input class="form-check-input" type="radio" name="preg18" id="casiNunca18" /></td>
                <td><input class="form-check-input" type="radio" name="preg18" id="nunca18" /></td>
                <td><input class="form-check-input" type="radio" name="preg18" id="invalido18" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">19. Las relaciones con mis amigos son buenas </th>
                <td><input class="form-check-input" type="radio" name="preg19" id="siempre19" /></td>
                <td><input class="form-check-input" type="radio" name="preg19" id="casiSiempre19" /></td>
                <td><input class="form-check-input" type="radio" name="preg19" id="algunasVeces19" /></td>
                <td><input class="form-check-input" type="radio" name="preg19" id="casiNunca19" /></td>
                <td><input class="form-check-input" type="radio" name="preg19" id="nunca19" /></td>
                <td><input class="form-check-input" type="radio" name="preg19" id="invalido19" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">20. Converso con personas cercanas sobre diferentes temas </th>
                <td><input class="form-check-input" type="radio" name="preg20" id="siempre20" /></td>
                <td><input class="form-check-input" type="radio" name="preg20" id="casiSiempre20" /></td>
                <td><input class="form-check-input" type="radio" name="preg20" id="algunasVeces20" /></td>
                <td><input class="form-check-input" type="radio" name="preg20" id="casiNunca20" /></td>
                <td><input class="form-check-input" type="radio" name="preg20" id="nunca20" /></td>
                <td><input class="form-check-input" type="radio" name="preg20" id="invalido20" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">21. Mis amigos están dispuestos a escucharme cuando tengo problemas
                </th>
                <td><input class="form-check-input" type="radio" name="preg21" id="siempre21" /></td>
                <td><input class="form-check-input" type="radio" name="preg21" id="casiSiempre21" /></td>
                <td><input class="form-check-input" type="radio" name="preg21" id="algunasVeces21" /></td>
                <td><input class="form-check-input" type="radio" name="preg21" id="casiNunca21" /></td>
                <td><input class="form-check-input" type="radio" name="preg21" id="nunca21" /></td>
                <td><input class="form-check-input" type="radio" name="preg21" id="invalido21" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">22. Cuento con el el apoyo de mi familia cuando tengo problemas </th>
                <td><input class="form-check-input" type="radio" name="preg22" id="siempre22" /></td>
                <td><input class="form-check-input" type="radio" name="preg22" id="casiSiempre22" /></td>
                <td><input class="form-check-input" type="radio" name="preg22" id="algunasVeces22" /></td>
                <td><input class="form-check-input" type="radio" name="preg22" id="casiNunca22" /></td>
                <td><input class="form-check-input" type="radio" name="preg22" id="nunca22" /></td>
                <td><input class="form-check-input" type="radio" name="preg22" id="invalido22" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">23. Puedo hablar con personas cercanas sobre las cosas que me pasan
                </th>
                <td><input class="form-check-input" type="radio" name="preg23" id="siempre23" /></td>
                <td><input class="form-check-input" type="radio" name="preg23" id="casiSiempre23" /></td>
                <td><input class="form-check-input" type="radio" name="preg23" id="algunasVeces23" /></td>
                <td><input class="form-check-input" type="radio" name="preg23" id="casiNunca23" /></td>
                <td><input class="form-check-input" type="radio" name="preg23" id="nunca23" /></td>
                <td><input class="form-check-input" type="radio" name="preg23" id="invalido23" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">24. Mis problemas personales o familiares afectan mi trabajo </th>
                <td><input class="form-check-input" type="radio" name="preg24" id="siempre24" /></td>
                <td><input class="form-check-input" type="radio" name="preg24" id="casiSiempre24" /></td>
                <td><input class="form-check-input" type="radio" name="preg24" id="algunasVeces24" /></td>
                <td><input class="form-check-input" type="radio" name="preg24" id="casiNunca24" /></td>
                <td><input class="form-check-input" type="radio" name="preg24" id="nunca24" /></td>
                <td><input class="form-check-input" type="radio" name="preg24" id="invalido24" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">25. La relación con mi familia cercana es cordial </th>
                <td><input class="form-check-input" type="radio" name="preg25" id="siempre25" /></td>
                <td><input class="form-check-input" type="radio" name="preg25" id="casiSiempre25" /></td>
                <td><input class="form-check-input" type="radio" name="preg25" id="algunasVeces25" /></td>
                <td><input class="form-check-input" type="radio" name="preg25" id="casiNunca25" /></td>
                <td><input class="form-check-input" type="radio" name="preg25" id="nunca25" /></td>
                <td><input class="form-check-input" type="radio" name="preg25" id="invalido25" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">26. Mis problemas personales o familiares me quitan la energia que
                    necesito para trabajar </th>
                <td><input class="form-check-input" type="radio" name="preg26" id="siempre26" /></td>
                <td><input class="form-check-input" type="radio" name="preg26" id="casiSiempre26" /></td>
                <td><input class="form-check-input" type="radio" name="preg26" id="algunasVeces26" /></td>
                <td><input class="form-check-input" type="radio" name="preg26" id="casiNunca26" /></td>
                <td><input class="form-check-input" type="radio" name="preg26" id="nunca26" /></td>
                <td><input class="form-check-input" type="radio" name="preg26" id="invalido26" /></td>
            </tr>




            <tr>
                <th scope="row" class="pregForm1">27. Los problemas con mis familiares los resolvemos de manera amistosa
                </th>
                <td><input class="form-check-input" type="radio" name="preg27" id="siempre27" /></td>
                <td><input class="form-check-input" type="radio" name="preg27" id="casiSiempre27" /></td>
                <td><input class="form-check-input" type="radio" name="preg27" id="algunasVeces27" /></td>
                <td><input class="form-check-input" type="radio" name="preg27" id="casiNunca27" /></td>
                <td><input class="form-check-input" type="radio" name="preg27" id="nunca27" /></td>
                <td><input class="form-check-input" type="radio" name="preg27" id="invalido27" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">28. Mis problemas personales o familiares afectan mis relaciones en el
                    trabajo </th>
                <td><input class="form-check-input" type="radio" name="preg28" id="siempre28" /></td>
                <td><input class="form-check-input" type="radio" name="preg28" id="casiSiempre28" /></td>
                <td><input class="form-check-input" type="radio" name="preg28" id="algunasVeces28" /></td>
                <td><input class="form-check-input" type="radio" name="preg28" id="casiNunca28" /></td>
                <td><input class="form-check-input" type="radio" name="preg28" id="nunca28" /></td>
                <td><input class="form-check-input" type="radio" name="preg28" id="invalido28" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">29. El dinero que ganamos en el hogar alcanza para cubrir los gastos
                    basicos </th>
                <td><input class="form-check-input" type="radio" name="preg29" id="siempre29" /></td>
                <td><input class="form-check-input" type="radio" name="preg29" id="casiSiempre29" /></td>
                <td><input class="form-check-input" type="radio" name="preg29" id="algunasVeces29" /></td>
                <td><input class="form-check-input" type="radio" name="preg29" id="casiNunca29" /></td>
                <td><input class="form-check-input" type="radio" name="preg29" id="nunca29" /></td>
                <td><input class="form-check-input" type="radio" name="preg29" id="invalido29" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">30. Tengo otros compromisos economicos que afectab mucho el
                    presupuesto familiar </th>
                <td><input class="form-check-input" type="radio" name="preg30" id="siempre30" /></td>
                <td><input class="form-check-input" type="radio" name="preg30" id="casiSiempre30" /></td>
                <td><input class="form-check-input" type="radio" name="preg30" id="algunasVeces30" /></td>
                <td><input class="form-check-input" type="radio" name="preg30" id="casiNunca30" /></td>
                <td><input class="form-check-input" type="radio" name="preg30" id="nunca30" /></td>
                <td><input class="form-check-input" type="radio" name="preg30" id="invalido30" /></td>
            </tr>
            <tr>
                <th scope="row" class="pregForm1">31. En mi hogar tenemos deudas dificiles de pagar </th>
                <td><input class="form-check-input" type="radio" name="preg31" id="siempre31" /></td>
                <td><input class="form-check-input" type="radio" name="preg31" id="casiSiempre31" /></td>
                <td><input class="form-check-input" type="radio" name="preg31" id="algunasVeces31" /></td>
                <td><input class="form-check-input" type="radio" name="preg31" id="casiNunca31" /></td>
                <td><input class="form-check-input" type="radio" name="preg31" id="nunca31" /></td>
                <td><input class="form-check-input" type="radio" name="preg31" id="invalido31" /></td>
            </tr>

        </tbody>
    </table>

</div>